.modal {
  position: relative;

  &__dark-background {
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.1s linear;
    z-index: 9900;

    &--active {
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      width: 100vw;
      height: 100vh;
    }
  }

  &__container {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    border: 1px solid $color-grey-light;
    border-radius: 3px;
    box-shadow: 1px 3px 5px $color-grey;
    z-index: 9999;

    &--text {
      padding: 3rem 3rem 4rem;

      & > p {
        font-size: 1.5rem;
        text-align: center;
      }
    }

    &--img {
      width: 70rem;
      height: 50rem;
      overflow-y: scroll;

      img {
        width: 100%;
      }
    }

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    padding: 0 4rem;
  }

  &__btn {
    width: 5rem;
    height: 3rem;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;

    &--red {
      color: $color-white;
      background-color: $color-red;
    }

    &--blue {
      color: $color-white;
      background-color: $color-primary-light;
    }
  }
}
